body {
   font-family: 'Public Sans', sans-serif;
   margin: 0;
   background-color: #f7f9fc;
  }
  
  header {
    background-color: #c0392b;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    justify-content: center;
  }
  
  .card {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 280px;
    text-align: center;
  }
  
  .card h2 {
    color: #c0392b;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background: #f0f0f0;
    font-size: 14px;
  }
  .profile {
    max-width: 800px;
    margin: 30px auto 10px;
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile .details {
    flex: 1;
  }
  
  .profile .details h2 {
    margin: 0;
    color: #c0392b;
  }
  
  .profile .details p {
    margin: 4px 0;
    color: #333;
  }
  